*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.divimg{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgHeader{
    height: 20rem;
    padding: auto;
    width: 85%;
    object-fit: cover;
    object-position: 50% 20%;
}

.divLogo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLogo{
    position: absolute;
    right: 300px;
    top: -45px;
    background-color: black;
    z-index: 1;
}

.h2Header{
    text-align: center;
    background-color: black;
    color: white;
    width: 85%;
    height: 3rem;
    padding-top: .5rem;
}

/* Main */
main{
    margin: 0 4rem;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
}

.nav{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 20rem;
    margin: 7rem 2rem 0 0;

}

a{
    margin: 1.5rem 0;
    color: rgb(82, 82, 240);
}

a.page{
    text-decoration: none;
    color: black;
}

h1{
    margin: 1rem 0;
    text-align: center;
}

.divMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48rem;
    font-size: 25px;
    padding: 1rem 0.5rem;
}

table{
    width: 70rem;
    text-align: center;
}

.divA{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
